.vscode/**
.vscode-test/**
.git/**
.github/**
.gitignore
.gitattributes
.eslintcache
node_modules/**
src/**
*.config.*
tsconfig*.json
esbuild.config.mjs
postcss.config.js
tailwind.config.js
vite.config.ts
**/*.map
**/.DS_Store
*.vsix
